.Pass {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #131416;
  color: white;
  padding: 50px 0;
  .content {
    font-family: sans-serif;
    .item {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;
    }
    .blockPass {
      min-height: 70vh;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      :nth-child(1),
      :nth-child(3) {
        background-color: #2324272f;
      }
    }
    .boxPass {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 30px;
      width: 350px;
      height: 450px;
      background-color: #1c1d20;
      border-radius: 10px;
      padding: 30px;
      h1 {
        font-size: 32px;
        color: red;
        font-family: "Times New Roman", Times, serif;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-size: 15px;
        color: #ffffff7a;
      }
      .btnTry {
        border-radius: 20px;
        border: none;
        background-color: rgb(218, 36, 36);
        color: white;
        padding: 10px 15px;
      }
      .btnTry:active {
        transform: scale(0.90);
        transition: 0.05s ease-in-out;
      }
      .btnTry:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: 0.05s ease-in-out;
      }
    }
  }
}
